NETSUITE_EMAIL='user@email.com'
NETSUITE_PASSWORD='abc!'
NETSUITE_ACCOUNT='123'


# To restest Orders :
NETSUITE_API_VERSION=2013_2
NETSUITE_WSDL_URL=https://webservices.na1.netsuite.com/wsdl/v2013_2_0/netsuite.wsdl

# To test Invoices :
#       spec/netsuite_integration/invoice_spec.rb
#       spec/netsuite_invoice_endpoint_spec.rb
#
# NETSUITE_API_VERSION=2014_1
# NETSUITE_WSDL_URL=https://webservices.na1.netsuite.com/wsdl/v2014_1_0/netsuite.wsdl



