---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2014_1_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - "-1246118905:706172746E6572732D6A61766131303031302E626F732E6E65746C65646765722E636F6D:80"
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2014_1.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2014_1.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2014_1.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2014_1.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2014_1.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2014_1_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2014_1.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2014_1_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2014_1.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2014_1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:platformMsgs="urn:messages_2014_1.platform.webservices.netsuite.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><env:Header><platformMsgs:passport><platformCore:email>NETSUITE_EMAIL</platformCore:email><platformCore:password>NETSUITE_PASSWORD</platformCore:password><platformCore:account>NETSUITE_ACCOUNT</platformCore:account><platformCore:role
        type="role" internalId="3"></platformCore:role></platformMsgs:passport></env:Header><env:Body><platformMsgs:get><platformMsgs:baseRef
        xsi:type="platformCore:RecordRef" externalId="RTAXDISABCE" type="invoice"></platformMsgs:baseRef></platformMsgs:get></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"get"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 2116697696:706172746E6572732D6A61766131303031342E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Header><platformMsgs:documentInfo xmlns:platformMsgs="urn:messages_2014_1.platform.webservices.netsuite.com"><platformMsgs:nsId>WEBSERVICES_NETSUITE_ACCOUNT_11202014834039761228076188_65a3db332ef4b</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><getResponse xmlns="urn:messages_2014_1.platform.webservices.netsuite.com"><readResponse><platformCore:status isSuccess="true" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"/><record internalId="1127" externalId="RTAXDISABCE" xsi:type="tranSales:Invoice" xmlns:tranSales="urn:sales_2014_1.transactions.webservices.netsuite.com"><tranSales:createdDate>2014-11-20T09:30:18.000-08:00</tranSales:createdDate><tranSales:lastModifiedDate>2014-11-20T09:30:18.000-08:00</tranSales:lastModifiedDate><tranSales:customForm internalId="101" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>Custom Service Invoice</platformCore:name></tranSales:customForm><tranSales:entity internalId="106" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>3 Joe Smith</platformCore:name></tranSales:entity><tranSales:tranDate>2014-11-20T00:00:00.000-08:00</tranSales:tranDate><tranSales:tranId>9</tranSales:tranId><tranSales:source>Web Services</tranSales:source><tranSales:postingPeriod internalId="16" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>Nov 2014</platformCore:name></tranSales:postingPeriod><tranSales:location internalId="4" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>LC Warehouse Commerce</platformCore:name></tranSales:location><tranSales:salesEffectiveDate>2014-11-20T00:00:00.000-08:00</tranSales:salesEffectiveDate><tranSales:totalCostEstimate>0.0</tranSales:totalCostEstimate><tranSales:estGrossProfit>23.07</tranSales:estGrossProfit><tranSales:estGrossProfitPercent>100.0</tranSales:estGrossProfitPercent><tranSales:isTaxable>false</tranSales:isTaxable><tranSales:taxItem internalId="-7" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>-Not Taxable-</platformCore:name></tranSales:taxItem><tranSales:taxRate>0.0</tranSales:taxRate><tranSales:toBePrinted>false</tranSales:toBePrinted><tranSales:toBeEmailed>false</tranSales:toBeEmailed><tranSales:toBeFaxed>false</tranSales:toBeFaxed><tranSales:transactionBillAddress xmlns:platformCommon="urn:common_2014_1.platform.webservices.netsuite.com"><platformCommon:billAddressee>Jeff Leung</platformCommon:billAddressee><platformCommon:billAddr1>123 N Broadway</platformCommon:billAddr1><platformCommon:billCity>Los Angeles</platformCommon:billCity><platformCommon:billState>CA</platformCommon:billState><platformCommon:billZip>90012</platformCommon:billZip><platformCommon:billCountry>_unitedStates</platformCommon:billCountry></tranSales:transactionBillAddress><tranSales:billAddress>Jeff Leung
        123 N Broadway
        Los Angeles CA 90012
        United States</tranSales:billAddress><tranSales:transactionShipAddress xmlns:platformCommon="urn:common_2014_1.platform.webservices.netsuite.com"><platformCommon:shipAddressee>Jeff Leung</platformCommon:shipAddressee><platformCommon:shipAddr1>123 N Broadway</platformCommon:shipAddr1><platformCommon:shipCity>Los Angeles</platformCommon:shipCity><platformCommon:shipState>CA</platformCommon:shipState><platformCommon:shipZip>90012</platformCommon:shipZip><platformCommon:shipCountry>_unitedStates</platformCommon:shipCountry><platformCommon:shipIsResidential>false</platformCommon:shipIsResidential></tranSales:transactionShipAddress><tranSales:shipAddress>Jeff Leung
        123 N Broadway
        Los Angeles CA 90012
        United States</tranSales:shipAddress><tranSales:subTotal>23.07</tranSales:subTotal><tranSales:revenueStatus>_inProgress</tranSales:revenueStatus><tranSales:recognizedRevenue>3.7</tranSales:recognizedRevenue><tranSales:deferredRevenue>19.37</tranSales:deferredRevenue><tranSales:discountTotal>0.0</tranSales:discountTotal><tranSales:total>23.07</tranSales:total><tranSales:status>Open</tranSales:status><tranSales:email>spree@example.com</tranSales:email><tranSales:itemList><tranSales:item><tranSales:item internalId="141" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>6-Month Crate Subscription</platformCore:name></tranSales:item><tranSales:line>1</tranSales:line><tranSales:amount>19.37</tranSales:amount><tranSales:isTaxable>true</tranSales:isTaxable><tranSales:deferRevRec>false</tranSales:deferRevRec><tranSales:quantity>1.0</tranSales:quantity><tranSales:price internalId="-1" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"/><tranSales:revRecSchedule internalId="2" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>6 Month Subscription</platformCore:name></tranSales:revRecSchedule><tranSales:revRecStartDate>2014-11-20T00:00:00.000-08:00</tranSales:revRecStartDate><tranSales:revRecEndDate>2015-04-30T00:00:00.000-07:00</tranSales:revRecEndDate><tranSales:costEstimateType>_itemDefinedCost</tranSales:costEstimateType><tranSales:costEstimate>0.0</tranSales:costEstimate><tranSales:excludeFromRateRequest>false</tranSales:excludeFromRateRequest></tranSales:item><tranSales:item><tranSales:item internalId="7" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>Spree Taxes</platformCore:name></tranSales:item><tranSales:line>2</tranSales:line><tranSales:amount>1.5</tranSales:amount><tranSales:isTaxable>false</tranSales:isTaxable><tranSales:quantity>1.0</tranSales:quantity><tranSales:price internalId="-1" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"/><tranSales:rate>1.50</tranSales:rate><tranSales:costEstimateType>_itemDefinedCost</tranSales:costEstimateType><tranSales:costEstimate>0.0</tranSales:costEstimate><tranSales:excludeFromRateRequest>false</tranSales:excludeFromRateRequest></tranSales:item><tranSales:item><tranSales:item internalId="7" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:name>Spree Taxes</platformCore:name></tranSales:item><tranSales:line>3</tranSales:line><tranSales:amount>2.2</tranSales:amount><tranSales:isTaxable>false</tranSales:isTaxable><tranSales:quantity>1.0</tranSales:quantity><tranSales:price internalId="-1" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"/><tranSales:rate>2.20</tranSales:rate><tranSales:costEstimateType>_itemDefinedCost</tranSales:costEstimateType><tranSales:costEstimate>0.0</tranSales:costEstimate><tranSales:excludeFromRateRequest>false</tranSales:excludeFromRateRequest></tranSales:item></tranSales:itemList><tranSales:customFieldList xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:customField internalId="26" scriptId="custbody_esc_last_modified_date" xsi:type="platformCore:DateCustomFieldRef"><platformCore:value>2014-11-20T00:00:00.000-08:00</platformCore:value></platformCore:customField><platformCore:customField internalId="27" scriptId="custbody_esc_created_date" xsi:type="platformCore:DateCustomFieldRef"><platformCore:value>2014-11-20T00:00:00.000-08:00</platformCore:value></platformCore:customField></tranSales:customFieldList></record></readResponse></getResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 20 Nov 2014 17:39:29 GMT
[...]
