---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2013_2_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 1973351032:706172746E6572732D6A61766131303030332E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2013_2.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2013_2.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2013_2_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2013_2.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2013_2
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:platformMsgs="urn:messages_2013_2.platform.webservices.netsuite.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"
        xmlns:platformCommon="urn:common_2013_2.platform.webservices.netsuite.com"
        xmlns:listRel="urn:relationships_2013_2.lists.webservices.netsuite.com" xmlns:tranSales="urn:sales_2013_2.transactions.webservices.netsuite.com"
        xmlns:actSched="urn:scheduling_2013_2.activities.webservices.netsuite.com"
        xmlns:setupCustom="urn:customization_2013_2.setup.webservices.netsuite.com"
        xmlns:listAcct="urn:accounting_2013_2.lists.webservices.netsuite.com" xmlns:tranBank="urn:bank_2013_2.transactions.webservices.netsuite.com"
        xmlns:tranCust="urn:customers_2013_2.transactions.webservices.netsuite.com"
        xmlns:listSupport="urn:support_2013_2.lists.webservices.netsuite.com" xmlns:tranGeneral="urn:general_2013_2.transactions.webservices.netsuite.com"><env:Header><platformMsgs:passport><platformCore:email>NETSUITE_EMAIL</platformCore:email><platformCore:password>NETSUITE_PASSWORD</platformCore:password><platformCore:account>NETSUITE_ACCOUNT</platformCore:account><platformCore:role
        type="role" internalId="3"></platformCore:role></platformMsgs:passport></env:Header><env:Body><platformMsgs:getAll><platformCore:record
        recordType="state"></platformCore:record></platformMsgs:getAll></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getAll"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - "-106934128:706172746E6572732D6A61766131303032302E626F732E6E65746C65646765722E636F6D:80"
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Header><platformMsgs:documentInfo
        xmlns:platformMsgs="urn:messages_2013_2.platform.webservices.netsuite.com"><platformMsgs:nsId>WEBSERVICES_NETSUITE_ACCOUNT_090520141212396951363135619_9f0bea</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><getAllResponse
        xmlns="urn:messages_2013_2.platform.webservices.netsuite.com"><platformCore:getAllResult
        xmlns:platformCore="urn:core_2013_2.platform.webservices.netsuite.com"><platformCore:status
        isSuccess="true"/><platformCore:totalRecords>300</platformCore:totalRecords><platformCore:recordList><platformCore:record
        internalId="407" xsi:type="listAcct:State" xmlns:listAcct="urn:accounting_2013_2.lists.webservices.netsuite.com"><listAcct:country>_australia</listAcct:country><listAcct:fullName>Western
        Australia</listAcct:fullName><listAcct:shortname>WA</listAcct:shortname></platformCore:record><platformCore:record
        internalId="406" xsi:type="listAcct:State" xmlns:listAcct="urn:accounting_2013_2.lists.webservices.netsuite.com"><listAcct:country>_australia</listAcct:country><listAcct:fullName>Victoria</listAcct:fullName><listAcct:shortname>VIC</listAcct:shortname></platformCore:record><platformCore:record
        internalId="405" xsi:type="listAcct:State" xmlns:listAcct="urn:accounting_2013_2.lists.webservices.netsuite.com"><listAcct:c[...]
