---
http_interactions:
- request:
    method: get
    uri: https://webservices.na1.netsuite.com/wsdl/v2014_1_0/netsuite.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - "-106681330:706172746E6572732D6A61766131303030392E626F732E6E65746C65646765722E636F6D:80"
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"urn:platform_2014_1.webservices.netsuite.com\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:platformMsgs=\"urn:messages_2014_1.platform.webservices.netsuite.com\"
        xmlns:platformFaults=\"urn:faults_2014_1.platform.webservices.netsuite.com\"
        targetNamespace=\"urn:platform_2014_1.webservices.netsuite.com\">\n    <types>\n
        \       <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"qualified\">\n
        \           <xsd:import namespace=\"urn:core_2014_1.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2014_1_0/core.xsd\"/>\n
        \           <xsd:import namespace=\"urn:faults_2014_1.platform.webservices.netsuite.com\"
        schemaLocation=\"https://webservices.na1.netsuite.com/xsd/platform/v2014_1_0/faults.xsd\"/>\n
        \           <xsd:import namespace=\"urn:messages_2014_1.platform.webservices.netsuite.com\"
        schemaLocation=\"https://web[...]
- request:
    method: post
    uri: https://webservices.na1.netsuite.com/services/NetSuitePort_2014_1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:platformMsgs="urn:messages_2014_1.platform.webservices.netsuite.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><env:Header><platformMsgs:passport><platformCore:email>NETSUITE_EMAIL</platformCore:email><platformCore:password>NETSUITE_PASSWORD</platformCore:password><platformCore:account>NETSUITE_ACCOUNT</platformCore:account><platformCore:role
        type="role" internalId="3"></platformCore:role></platformMsgs:passport></env:Header><env:Body><platformMsgs:get><platformMsgs:baseRef
        xsi:type="platformCore:RecordRef" externalId="RSPEC_SHIP_1819" type="invoice"></platformMsgs:baseRef></platformMsgs:get></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"get"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Ns-Rtimer-Composite:
      - 199749366:706172746E6572732D6A61766131303031342E626F732E6E65746C65646765722E636F6D:80
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Header><platformMsgs:documentInfo
        xmlns:platformMsgs="urn:messages_2014_1.platform.webservices.netsuite.com"><platformMsgs:nsId>WEBSERVICES_NETSUITE_ACCOUNT_120420143779643121539399898_82d7aec51527</platformMsgs:nsId></platformMsgs:documentInfo></soapenv:Header><soapenv:Body><getResponse
        xmlns="urn:messages_2014_1.platform.webservices.netsuite.com"><readResponse><platformCore:status
        isSuccess="false" xmlns:platformCore="urn:core_2014_1.platform.webservices.netsuite.com"><platformCore:statusDetail
        type="ERROR"><platformCore:code>INVALID_KEY_OR_REF</platformCore:code><platformCore:message>The
        specified key is invalid.</platformCore:message></platformCore:statusDetail></platformCore:status></readResponse></getResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 04 Dec 2014 18:19:13 GMT
[...]
